/* Barra de navegación */
header {
    position: sticky;
    top: 0;
    z-index: 1000;
}

#navbarText li {
    margin-right: 3rem;
}

#navbarText a {
    font-size: 1.3rem;
    color: white;
    text-shadow: 1px  0px 0px black,
               0px  1px 0px black,
              -1px  0px 0px black,
               0px -1px 0px black;
}
nav {
    /* position: fixed; */
    padding: 25px 60px;
    z-index: 1;
    color: #fff;
    display: flex;
    width: 100%;
    font-size: 1.5em;
    font-weight: bold;

}

nav a img {
    width: 167px;
}

.formularios:hover {
    filter: opacity(0.5);
    
}

.formularios {
    text-decoration: none;
    color: white;
    transition: 0.8s;
    margin-right: 3rem;
} 

#subrayado {
    position: relative;
}

.menu {
    backdrop-filter: blur(10px);
}

#subrayado:after {
    content: "";
    width: 0;
    height: 3px;
    background-color: #cc85fb;
    filter: drop-shadow(1px 3px 5px rgba(216, 64, 254, 0.841));
    position: absolute;
    bottom: 0;
    right: 50%;
    transition: all .5s;
    will-change: width;
}

#subrayado:hover:after {
    width: 100%;
    right: 0;  
}

@media (max-width: 740px) {
    nav {
        font-size: 1em;
        justify-content: center;
    }
    nav, .form-wrapper {
        padding: 20px;
    }

    nav a img {
        width: 140px;
    }


}
    