/*cards*/
.cards {
    display: flex;
}
.card{
    transition: 0.10s;
    margin: 5rem;
}

.card:hover{
    
    transform: scale(1.1);
}
.one:hover{
    transform: none;
}

/*items*/
.grid-item{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(18.5rem, 1fr));
    /* grid-template-columns: repeat(4,1fr);
    grid-template-rows: auto; */
    justify-items: center;
    row-gap: 20px;
}